MC_BASE_URL=https://api.maintenanceconnection.com/v8

# PROD
# MC_API_KEY=your-api-key-here
# PROD_CONNECTION_KEY=your-connection-key-here

# DEV
MC_API_KEY=your-api-key-here
DEV_CONNECTION_KEY=your-connection-key-here

# encode the api key using base64. Use the API key and the appropriate environment connection key.
# echo -n "YOUR_CONNECTION_KEY:YOUR_API_KEY" | base64
MC_BASIC_AUTH_ENCODED=your-encoded-basic-auth-here

